/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}

.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

.input-field label {
    pointer-events: auto !important;
}

/* Add your styles here */